In [1]:
%%html
<style>
table {align:left;display:block}  # to align html tables to left
</style>

In [2]:
# import libraries
import pandas as pd  # Dataframe manipulation
import numpy as np  # Arrays manipulation 
import matplotlib.pyplot as plt  # Plot charts
import matplotlib.style as style  # Inherit styles

# Enables Jupyter to display graphs
%matplotlib inline

# Dataquest - Data Cleaning And Analysis <br/> <br/> Project Title: Clean And Analyse Employee Exit Surveys

## 1) Introduction

#### Key skills applied in project:
- Explore the data and figure out how to prepare it for analysis
- Correct some of the missing values
- Drop any data not needed for our analysis
- Rename our columns
- Verify the quality of data
- Create new columns (eg. feature engineering)
- Combine the data
- Handle the missing values in other column
- Aggregate the data
- Example tools for data cleaning: 
  - apply(), map(), applymap(), fillna(), dropna(), drop(), melt(), concat(), merge()

#### Background
Provided by: [Dataquest.io](https://www.dataquest.io/)

We'll work with exit surveys from employees of the [Department of Education, Training and Employment](https://en.wikipedia.org/wiki/Department_of_Education_and_Training_(Queensland)) (DETE) and the Technical and Further Education (TAFE) institute in Queensland, Australia. The original TAFE exit survey here and the survey for the DETE are located [here](https://data.gov.au/dataset/ds-qld-89970a3b-182b-41ea-aea2-6f9f17b5907e/details?q=exit%20survey). Dataquest.io had made some slight modifications to these datasets to make them easier to work with, including changing the encoding to **UTF-8** (the original ones are encoded using **cp1252**.) (Modified files are located in same GitHub folder of this jupyter notebook.)

In this project, we'll play the role of data analyst and pretend our stakeholders want to know the following:
- Are employees who only worked for the institutes for a short period of time resigning due to some kind of dissatisfaction? What about employees who have been there longer?
- Are younger employees resigning due to some kind of dissatisfaction? What about older employees?

They want us to combine the results for both surveys to answer these questions. However, although both used the same survey template, one of them customized some of the answers.

A data dictionary wasn't provided with the dataset. In a job setting, we'd make sure to meet with a manager to confirm the definitions of the data. For this project, we'll use our general knowledge to define the columns.

Below is a preview of a couple columns we'll work with from the **dete_survey.csv**:

Attribute | Description
--- | ---
ID | An id used to identify the participant of the survey
SeparationType | The reason why the person's employment ended
Cease Date | The year or month the person's employment ended
DETE Start Date | The year the person began employment with the DETE

Below is a preview of a couple columns we'll work with from the **tafe_survey.csv**:

Attribute | Description
--- | ---
Record ID | An id used to identify the participant of the survey
Reason for ceasing employment | The reason why the person's employment ended
LengthofServiceOverall. Overall Length of Service at Institute (in years) | The length of the person's employment (in years)

Let's start by reading the datasets into pandas and exploring them.

In [3]:
# read and load files
dete_survey = pd.read_csv('dete_survey.csv')
tafe_survey = pd.read_csv('tafe_survey.csv')

# review dete files
print(dete_survey.info())  # review columns names and dtype
print(dete_survey.isnull().sum())  # review any null values
dete_survey.head(3)  # review first few rows and values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822 entries, 0 to 821
Data columns (total 56 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ID                                   822 non-null    int64
 1   SeparationType                       822 non-null    object
 2   Cease Date                           822 non-null    object
 3   DETE Start Date                      822 non-null    object
 4   Role Start Date                      822 non-null    object
 5   Position                             817 non-null    object
 6   Classification                       455 non-null    object
 7   Region                               822 non-null    object
 8   Business Unit                        126 non-null    object
 9   Employment Status                    817 non-null    object
 10  Career move to public sector         822 non-null    bool
 11  Career move to private sector        822 non-null    bool
 12  Interpersonal conflicts              822 non-null    bool
 13  Job dissatisfaction                  822 non-null    bool
 14  Dissatisfaction with the department  822 non-null    bool
 15  Physical work environment            822 non-null    bool
 16  Lack of recognition                  822 non-null    bool
 17  Lack of job security                 822 non-null    bool
 18  Work location                        822 non-null    bool
 19  Employment conditions                822 non-null    bool
 20  Maternity/family                     822 non-null    bool
 21  Relocation                           822 non-null    bool
 22  Study/Travel                         822 non-null    bool
 23  Ill Health                           822 non-null    bool
 24  Traumatic incident                   822 non-null    bool
 25  Work life balance                    822 non-null    bool
 26  Workload                             822 non-null    bool
 27  None of the above                    822 non-null    bool
 28  Professional Development             808 non-null    object
 29  Opportunities for promotion          735 non-null    object
 30  Staff morale                         816 non-null    object
 31  Workplace issue                      788 non-null    object
 32  Physical environment                 817 non-null    object
 33  Worklife balance                     815 non-null    object
 34  Stress and pressure support          810 non-null    object
 35  Performance of supervisor            813 non-null    object
 36  Peer support                         812 non-null    object
 37  Initiative                           813 non-null    object
 38  Skills                               811 non-null    object
 39  Coach                                767 non-null    object
 40  Career Aspirations                   746 non-null    object
 41  Feedback                             792 non-null    object
 42  Further PD                           768 non-null    object
 43  Communication                        814 non-null    object
 44  My say                               812 non-null    object
 45  Information                          816 non-null    object
 46  Kept informed                        813 non-null    object
 47  Wellness programs                    766 non-null    object
 48  Health & Safety                      793 non-null    object
 49  Gender                               798 non-null    object
 50  Age                                  811 non-null    object
 51  Aboriginal                           16 non-null     object
 52  Torres Strait                        3 non-null      object
 53  South Sea                            7 non-null      object
 54  Disability                           23 non-null     object
 55  NESB                                 32 non-null     object
dtypes: bool(18), int64(1), object(37)
memory usage: 258.6+ KB
None
ID                                       0
SeparationType                           0
Cease Date                               0
DETE Start Date                          0
Role Start Date                          0
Position                                 5
Classification                         367
Region                                   0
Business Unit                          696
Employment Status                        5
Career move to public sector             0
Career move to private sector            0
Interpersonal conflicts                  0
Job dissatisfaction                      0
Dissatisfaction with the department      0
Physical work environment                0
Lack of recognition                      0
Lack of job security                     0
Work location                            0
Employment conditions                    0
Maternity/family                         0
Relocation                               0
Study/Travel                             0
Ill Health                               0
Traumatic incident                       0
Work life balance                        0
Workload                                 0
None of the above                        0
Professional Development                14
Opportunities for promotion             87
Staff morale                             6
Workplace issue                         34
Physical environment                     5
Worklife balance                         7
Stress and pressure support             12
Performance of supervisor                9
Peer support                            10
Initiative                               9
Skills                                  11
Coach                                   55
Career Aspirations                      76
Feedback                                30
Further PD                              54
Communication                            8
My say                                  10
Information                              6
Kept informed                            9
Wellness programs                       56
Health & Safety                         29
Gender                                  24
Age                                     11
Aboriginal                             806
Torres Strait                          819
South Sea                              815
Disability                             799
NESB                                   790
dtype: int64

,ID,SeparationType,Cease Date,DETE Start Date,Role Start Date,Position,Classification,Region,Business Unit,Employment Status,...,Kept informed,Wellness programs,Health & Safety,Gender,Age,Aboriginal,Torres Strait,South Sea,Disability,NESB
0,1,Ill Health Retirement,08/2012,1984,2004,Public Servant,A01-A04,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,N,N,Male,56-60,NaN,NaN,NaN,NaN,Yes
1,2,Voluntary Early Retirement (VER),08/2012,Not Stated,Not Stated,Public Servant,AO5-AO7,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,N,N,Male,56-60,NaN,NaN,NaN,NaN,NaN
2,3,Voluntary Early Retirement (VER),05/2012,2011,2011,Schools Officer,NaN,Central Office,Education Queensland,Permanent Full-time,...,N,N,N,Male,61 or older,NaN,NaN,NaN,NaN,NaN

In [4]:
# review tafe files
print(tafe_survey.info())  # review columns names and dtype
print(tafe_survey.isnull().sum())  # review any null values
tafe_survey.head(3)  # review first few rows and values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 72 columns):
 #   Column                                                                                                                                                         Non-Null Count  Dtype
---  ------                                                                                                                                                         --------------  -----
 0   Record ID                                                                                                                                                      702 non-null    float64
 1   Institute                                                                                                                                                      702 non-null    object
 2   WorkArea                                                                                                                                                       702 non-null    object
 3   CESSATION YEAR                                                                                                                                                 695 non-null    float64
 4   Reason for ceasing employment                                                                                                                                  701 non-null    object
 5   Contributing Factors. Career Move - Public Sector                                                                                                              437 non-null    object
 6   Contributing Factors. Career Move - Private Sector                                                                                                             437 non-null    object
 7   Contributing Factors. Career Move - Self-employment                                                                                                            437 non-null    object
 8   Contributing Factors. Ill Health                                                                                                                               437 non-null    object
 9   Contributing Factors. Maternity/Family                                                                                                                         437 non-null    object
 10  Contributing Factors. Dissatisfaction                                                                                                                          437 non-null    object
 11  Contributing Factors. Job Dissatisfaction                                                                                                                      437 non-null    object
 12  Contributing Factors. Interpersonal Conflict                                                                                                                   437 non-null    object
 13  Contributing Factors. Study                                                                                                                                    437 non-null    object
 14  Contributing Factors. Travel                                                                                                                                   437 non-null    object
 15  Contributing Factors. Other                                                                                                                                    437 non-null    object
 16  Contributing Factors. NONE                                                                                                                                     437 non-null    object
 17  Main Factor. Which of these was the main factor for leaving?                                                                                                   113 non-null    object
 18  InstituteViews. Topic:1. I feel the senior leadership had a clear vision and direction                                                                         608 non-null    object
 19  InstituteViews. Topic:2. I was given access to skills training to help me do my job better                                                                     613 non-null    object
 20  InstituteViews. Topic:3. I was given adequate opportunities for personal development                                                                           610 non-null    object
 21  InstituteViews. Topic:4. I was given adequate opportunities for promotion within %Institute]Q25LBL%                                                            608 non-null    object
 22  InstituteViews. Topic:5. I felt the salary for the job was right for the responsibilities I had                                                                615 non-null    object
 23  InstituteViews. Topic:6. The organisation recognised when staff did good work                                                                                  607 non-null    object
 24  InstituteViews. Topic:7. Management was generally supportive of me                                                                                             614 non-null    object
 25  InstituteViews. Topic:8. Management was generally supportive of my team                                                                                        608 non-null    object
 26  InstituteViews. Topic:9. I was kept informed of the changes in the organisation which would affect me                                                          610 non-null    object
 27  InstituteViews. Topic:10. Staff morale was positive within the Institute                                                                                       602 non-null    object
 28  InstituteViews. Topic:11. If I had a workplace issue it was dealt with quickly                                                                                 601 non-null    object
 29  InstituteViews. Topic:12. If I had a workplace issue it was dealt with efficiently                                                                             597 non-null    object
 30  InstituteViews. Topic:13. If I had a workplace issue it was dealt with discreetly                                                                              601 non-null    object
 31  WorkUnitViews. Topic:14. I was satisfied with the quality of the management and supervision within my work unit                                                609 non-null    object
 32  WorkUnitViews. Topic:15. I worked well with my colleagues                                                                                                      605 non-null    object
 33  WorkUnitViews. Topic:16. My job was challenging and interesting                                                                                                607 non-null    object
 34  WorkUnitViews. Topic:17. I was encouraged to use my initiative in the course of my work                                                                        610 non-null    object
 35  WorkUnitViews. Topic:18. I had sufficient contact with other people in my job                                                                                  613 non-null    object
 36  WorkUnitViews. Topic:19. I was given adequate support and co-operation by my peers to enable me to do my job                                                   609 non-null    object
 37  WorkUnitViews. Topic:20. I was able to use the full range of my skills in my job                                                                               609 non-null    object
 38  WorkUnitViews. Topic:21. I was able to use the full range of my abilities in my job. ; Category:Level of Agreement; Question:YOUR VIEWS ABOUT YOUR WORK UNIT]  608 non-null    object
 39  WorkUnitViews. Topic:22. I was able to use the full range of my knowledge in my job                                                                            608 non-null    object
 40  WorkUnitViews. Topic:23. My job provided sufficient variety                                                                                                    611 non-null    object
 41  WorkUnitViews. Topic:24. I was able to cope with the level of stress and pressure in my job                                                                    610 non-null    object
 42  WorkUnitViews. Topic:25. My job allowed me to balance the demands of work and family to my satisfaction                                                        611 non-null    object
 43  WorkUnitViews. Topic:26. My supervisor gave me adequate personal recognition and feedback on my performance                                                    606 non-null    object
 44  WorkUnitViews. Topic:27. My working environment was satisfactory e.g. sufficient space, good lighting, suitable seating and working area                       610 non-null    object
 45  WorkUnitViews. Topic:28. I was given the opportunity to mentor and coach others in order for me to pass on my skills and knowledge prior to my cessation date  609 non-null    object
 46  WorkUnitViews. Topic:29. There was adequate communication between staff in my unit                                                                             603 non-null    object
 47  WorkUnitViews. Topic:30. Staff morale was positive within my work unit                                                                                         606 non-null    object
 48  Induction. Did you undertake Workplace Induction?                                                                                                              619 non-null    object
 49  InductionInfo. Topic:Did you undertake a Corporate Induction?                                                                                                  432 non-null    object
 50  InductionInfo. Topic:Did you undertake a Institute Induction?                                                                                                  483 non-null    object
 51  InductionInfo. Topic: Did you undertake Team Induction?                                                                                                        440 non-null    object
 52  InductionInfo. Face to Face Topic:Did you undertake a Corporate Induction; Category:How it was conducted?                                                      555 non-null    object
 53  InductionInfo. On-line Topic:Did you undertake a Corporate Induction; Category:How it was conducted?                                                           555 non-null    object
 54  InductionInfo. Induction Manual Topic:Did you undertake a Corporate Induction?                                                                                 555 non-null    object
 55  InductionInfo. Face to Face Topic:Did you undertake a Institute Induction?                                                                                     530 non-null    object
 56  InductionInfo. On-line Topic:Did you undertake a Institute Induction?                                                                                          555 non-null    object
 57  InductionInfo. Induction Manual Topic:Did you undertake a Institute Induction?                                                                                 553 non-null    object
 58  InductionInfo. Face to Face Topic: Did you undertake Team Induction; Category?                                                                                 555 non-null    object
 59  InductionInfo. On-line Topic: Did you undertake Team Induction?process you undertook and how it was conducted.]                                                555 non-null    object
 60  InductionInfo. Induction Manual Topic: Did you undertake Team Induction?                                                                                       555 non-null    object
 61  Workplace. Topic:Did you and your Manager develop a Performance and Professional Development Plan (PPDP)?                                                      608 non-null    object
 62  Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?                                                    594 non-null    object
 63  Workplace. Topic:Does your workplace promote and practice the principles of employment equity?                                                                 587 non-null    object
 64  Workplace. Topic:Does your workplace value the diversity of its employees?                                                                                     586 non-null    object
 65  Workplace. Topic:Would you recommend the Institute as an employer to others?                                                                                   581 non-null    object
 66  Gender. What is your Gender?                                                                                                                                   596 non-null    object
 67  CurrentAge. Current Age                                                                                                                                        596 non-null    object
 68  Employment Type. Employment Type                                                                                                                               596 non-null    object
 69  Classification. Classification                                                                                                                                 596 non-null    object
 70  LengthofServiceOverall. Overall Length of Service at Institute (in years)                                                                                      596 non-null    object
 71  LengthofServiceCurrent. Length of Service at current workplace (in years)                                                                                      596 non-null    object
dtypes: float64(2), object(70)
memory usage: 395.0+ KB
None
Record ID                                                                      0
Institute                                                                      0
WorkArea                                                                       0
CESSATION YEAR                                                                 7
Reason for ceasing employment                                                  1
                                                                            ...
CurrentAge. Current Age                                                      106
Employment Type. Employment Type                                             106
Classification. Classification                                               106
LengthofServiceOverall. Overall Length of Service at Institute (in years)    106
LengthofServiceCurrent. Length of Service at current workplace (in years)    106
Length: 72, dtype: int64

,Record ID,Institute,WorkArea,CESSATION YEAR,Reason for ceasing employment,Contributing Factors. Career Move - Public Sector,Contributing Factors. Career Move - Private Sector,Contributing Factors. Career Move - Self-employment,Contributing Factors. Ill Health,Contributing Factors. Maternity/Family,...,Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?,Workplace. Topic:Does your workplace promote and practice the principles of employment equity?,Workplace. Topic:Does your workplace value the diversity of its employees?,Workplace. Topic:Would you recommend the Institute as an employer to others?,Gender. What is your Gender?,CurrentAge. Current Age,Employment Type. Employment Type,Classification. Classification,LengthofServiceOverall. Overall Length of Service at Institute (in years),LengthofServiceCurrent. Length of Service at current workplace (in years)
0,6.341330e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,Yes,Yes,Yes,Yes,Female,26 30,Temporary Full-time,Administration (AO),1-2,1-2
1,6.341337e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Retirement,-,-,-,-,-,...,Yes,Yes,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN
2,6.341388e+17,Mount Isa Institute of TAFE,Delivery (teaching),2010.0,Retirement,-,-,-,-,-,...,Yes,Yes,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN

## 2) Identify Missing Values And Drop Unnecessary Columns

We identified the following observations:
- The **dete_survey** dataframe contains **'Not Stated'** values that indicate values are missing, but they aren't represented as **NaN**.
- Both the **dete_survey** and **tafe_survey** dataframes contain many columns that we don't need to complete our analysis.
- Each dataframe contains many of the same columns, but the column names are different.
- There are multiple columns/answers that indicate an employee resigned because they were dissatisfied.

To start, we'll handle the first two issues. We can use the **pd.read_csv()** function to specify values that should be represented as **NaN**. We'll use this function to fix the missing values first. Then, we'll drop columns we know we don't need for our analysis.

In [5]:
# pd.read_csv - na_values: Additional strings to recognize as NA/NaN.
dete_survey = pd.read_csv('dete_survey.csv', na_values='Not Stated')

In [6]:
# date survey
# drop unneeded columns and assign to new dataframe
dete_survey_updated = dete_survey.drop(dete_survey.columns[28:49], axis=1)

# review columns dropped
dete_survey.columns[28:49]

Index(['Professional Development', 'Opportunities for promotion',
       'Staff morale', 'Workplace issue', 'Physical environment',
       'Worklife balance', 'Stress and pressure support',
       'Performance of supervisor', 'Peer support', 'Initiative', 'Skills',
       'Coach', 'Career Aspirations', 'Feedback', 'Further PD',
       'Communication', 'My say', 'Information', 'Kept informed',
       'Wellness programs', 'Health & Safety'],
      dtype='object')

In [7]:
# tafe survey
# drop unneeded columns and assign to new dataframe
tafe_survey_updated = tafe_survey.drop(tafe_survey.columns[17:66], axis=1)

# review columns dropped
tafe_survey.columns[17:66]

Index(['Main Factor. Which of these was the main factor for leaving?',
       'InstituteViews. Topic:1. I feel the senior leadership had a clear vision and direction',
       'InstituteViews. Topic:2. I was given access to skills training to help me do my job better',
       'InstituteViews. Topic:3. I was given adequate opportunities for personal development',
       'InstituteViews. Topic:4. I was given adequate opportunities for promotion within %Institute]Q25LBL%',
       'InstituteViews. Topic:5. I felt the salary for the job was right for the responsibilities I had',
       'InstituteViews. Topic:6. The organisation recognised when staff did good work',
       'InstituteViews. Topic:7. Management was generally supportive of me',
       'InstituteViews. Topic:8. Management was generally supportive of my team',
       'InstituteViews. Topic:9. I was kept informed of the changes in the organisation which would affect me',
       'InstituteViews. Topic:10. Staff morale was positive within the Institute',
       'InstituteViews. Topic:11. If I had a workplace issue it was dealt with quickly',
       'InstituteViews. Topic:12. If I had a workplace issue it was dealt with efficiently',
       'InstituteViews. Topic:13. If I had a workplace issue it was dealt with discreetly',
       'WorkUnitViews. Topic:14. I was satisfied with the quality of the management and supervision within my work unit',
       'WorkUnitViews. Topic:15. I worked well with my colleagues',
       'WorkUnitViews. Topic:16. My job was challenging and interesting',
       'WorkUnitViews. Topic:17. I was encouraged to use my initiative in the course of my work',
       'WorkUnitViews. Topic:18. I had sufficient contact with other people in my job',
       'WorkUnitViews. Topic:19. I was given adequate support and co-operation by my peers to enable me to do my job',
       'WorkUnitViews. Topic:20. I was able to use the full range of my skills in my job',
       'WorkUnitViews. Topic:21. I was able to use the full range of my abilities in my job. ; Category:Level of Agreement; Question:YOUR VIEWS ABOUT YOUR WORK UNIT]',
       'WorkUnitViews. Topic:22. I was able to use the full range of my knowledge in my job',
       'WorkUnitViews. Topic:23. My job provided sufficient variety',
       'WorkUnitViews. Topic:24. I was able to cope with the level of stress and pressure in my job',
       'WorkUnitViews. Topic:25. My job allowed me to balance the demands of work and family to my satisfaction',
       'WorkUnitViews. Topic:26. My supervisor gave me adequate personal recognition and feedback on my performance',
       'WorkUnitViews. Topic:27. My working environment was satisfactory e.g. sufficient space, good lighting, suitable seating and working area',
       'WorkUnitViews. Topic:28. I was given the opportunity to mentor and coach others in order for me to pass on my skills and knowledge prior to my cessation date',
       'WorkUnitViews. Topic:29. There was adequate communication between staff in my unit',
       'WorkUnitViews. Topic:30. Staff morale was positive within my work unit',
       'Induction. Did you undertake Workplace Induction?',
       'InductionInfo. Topic:Did you undertake a Corporate Induction?',
       'InductionInfo. Topic:Did you undertake a Institute Induction?',
       'InductionInfo. Topic: Did you undertake Team Induction?',
       'InductionInfo. Face to Face Topic:Did you undertake a Corporate Induction; Category:How it was conducted?',
       'InductionInfo. On-line Topic:Did you undertake a Corporate Induction; Category:How it was conducted?',
       'InductionInfo. Induction Manual Topic:Did you undertake a Corporate Induction?',
       'InductionInfo. Face to Face Topic:Did you undertake a Institute Induction?',
       'InductionInfo. On-line Topic:Did you undertake a Institute Induction?',
       'InductionInfo. Induction Manual Topic:Did you undertake a Institute Induction?',
       'InductionInfo. Face to Face Topic: Did you undertake Team Induction; Category?',
       'InductionInfo. On-line Topic: Did you undertake Team Induction?process you undertook and how it was conducted.]',
       'InductionInfo. Induction Manual Topic: Did you undertake Team Induction?',
       'Workplace. Topic:Did you and your Manager develop a Performance and Professional Development Plan (PPDP)?',
       'Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?',
       'Workplace. Topic:Does your workplace promote and practice the principles of employment equity?',
       'Workplace. Topic:Does your workplace value the diversity of its employees?',
       'Workplace. Topic:Would you recommend the Institute as an employer to others?'],
      dtype='object')

## 3) Clean Column Names

Each dataframe contains many of the same columns, but the column names are different.

Because we eventually want to combine them, we'll have to standardize the column names.

Below are some of the columns we'd like to use for our final analysis:


dete_survey | tafe_survey | Definition
--- | --- | ---
ID | Record ID | An id used to identify the participant of the survey
SeparationType | Reason for ceasing employment | The reason why the participant's employment ended
Cease Date | CESSATION YEAR | The year or month the participant's employment ended
DETE Start Date |  | The year the participant began employment with the DETE 
 | LengthofServiceOverall. Overall Length of Service at Institute (in years) | The length of the person's employment (in years)
Age | CurrentAge. Current Age | The age of the participant
Gender | Gender. What is your Gender? | The gender of the participant

In [8]:
# Rename the remaining columns in the dete_survey_updated dataframe.

#.str.lower() - lowercase
#.str.strip() - trim white space around element
#.str.replace() - replace string, \s is regex pattern to search for single white space, regex=True to enable the usage of regex
dete_survey_updated.columns = dete_survey_updated.columns.str.lower().str.strip().str.replace('\s', '_', regex=True)

# review transformation
dete_survey_updated.columns

Index(['id', 'separationtype', 'cease_date', 'dete_start_date',
       'role_start_date', 'position', 'classification', 'region',
       'business_unit', 'employment_status', 'career_move_to_public_sector',
       'career_move_to_private_sector', 'interpersonal_conflicts',
       'job_dissatisfaction', 'dissatisfaction_with_the_department',
       'physical_work_environment', 'lack_of_recognition',
       'lack_of_job_security', 'work_location', 'employment_conditions',
       'maternity/family', 'relocation', 'study/travel', 'ill_health',
       'traumatic_incident', 'work_life_balance', 'workload',
       'none_of_the_above', 'gender', 'age', 'aboriginal', 'torres_strait',
       'south_sea', 'disability', 'nesb'],
      dtype='object')

In [9]:
# use df.rename() to rename columns in tafe_survey_updated dataset

mapping = {'Record ID': 'id',
'CESSATION YEAR': 'cease_date',
'Reason for ceasing employment': 'separationtype',
'Gender. What is your Gender?': 'gender',
'CurrentAge. Current Age': 'age',
'Employment Type. Employment Type': 'employment_status',
'Classification. Classification': 'position',
'LengthofServiceOverall. Overall Length of Service at Institute (in years)': 'institute_service',
'LengthofServiceCurrent. Length of Service at current workplace (in years)': 'role_service'}

tafe_survey_updated.rename(mapper=mapping, axis=1, inplace=True)  # axis=1 to modify columns
tafe_survey_updated.columns

Index(['id', 'Institute', 'WorkArea', 'cease_date', 'separationtype',
       'Contributing Factors. Career Move - Public Sector ',
       'Contributing Factors. Career Move - Private Sector ',
       'Contributing Factors. Career Move - Self-employment',
       'Contributing Factors. Ill Health',
       'Contributing Factors. Maternity/Family',
       'Contributing Factors. Dissatisfaction',
       'Contributing Factors. Job Dissatisfaction',
       'Contributing Factors. Interpersonal Conflict',
       'Contributing Factors. Study', 'Contributing Factors. Travel',
       'Contributing Factors. Other', 'Contributing Factors. NONE', 'gender',
       'age', 'employment_status', 'position', 'institute_service',
       'role_service'],
      dtype='object')

## 4) Filter The Data

Let's remove more of the data we don't need.

Our end goal is to answer the following question:

- Are employees who have only worked for the institutes for a short period of time resigning due to some kind of dissatisfaction? What about employees who have been at the job longer?

If we look at the unique values in the separationtype columns in each dataframe, we'll see that each contains a couple of different separation types. For this project, we'll only analyze survey respondents who resigned, so their separation type contains the string 'Resignation'.

**dete_survey_updated** dataframe contains multiple separation types with the string 'Resignation':

- Resignation-Other reasons
- Resignation-Other employer
- Resignation-Move overseas/interstate

We'll have to account for each of these variations so we don't unintentionally drop data.

In [10]:
# Use the Series.value_counts() method to review the unique values in the separationtype column in both dete and tafe datasets

dete_survey_updated['separationtype'].value_counts()

Age Retirement                          285
Resignation-Other reasons               150
Resignation-Other employer               91
Resignation-Move overseas/interstate     70
Voluntary Early Retirement (VER)         67
Ill Health Retirement                    61
Other                                    49
Contract Expired                         34
Termination                              15
Name: separationtype, dtype: int64

In [11]:
tafe_survey_updated['separationtype'].value_counts()

Resignation                 340
Contract Expired            127
Retrenchment/ Redundancy    104
Retirement                   82
Transfer                     25
Termination                  23
Name: separationtype, dtype: int64

In [12]:
# In each dataframe, select only the data for survey respondents who have a Resignation separation type. Use df.copy() to avoid changing the initial dataset by accident.

# regex=True to enable regex searching:
# r'Resignation': regex pattern search for string that contains 'Resignation'
dete_resignations = dete_survey_updated[dete_survey_updated['separationtype'].str.contains(r'Resignation', regex=True)].copy()

dete_resignations

,id,separationtype,cease_date,dete_start_date,role_start_date,position,classification,region,business_unit,employment_status,...,work_life_balance,workload,none_of_the_above,gender,age,aboriginal,torres_strait,south_sea,disability,nesb
3,4,Resignation-Other reasons,05/2012,2005.0,2006.0,Teacher,Primary,Central Queensland,NaN,Permanent Full-time,...,False,False,False,Female,36-40,NaN,NaN,NaN,NaN,NaN
5,6,Resignation-Other reasons,05/2012,1994.0,1997.0,Guidance Officer,NaN,Central Office,Education Queensland,Permanent Full-time,...,False,False,False,Female,41-45,NaN,NaN,NaN,NaN,NaN
8,9,Resignation-Other reasons,07/2012,2009.0,2009.0,Teacher,Secondary,North Queensland,NaN,Permanent Full-time,...,False,False,False,Female,31-35,NaN,NaN,NaN,NaN,NaN
9,10,Resignation-Other employer,2012,1997.0,2008.0,Teacher Aide,NaN,NaN,NaN,Permanent Part-time,...,False,False,False,Female,46-50,NaN,NaN,NaN,NaN,NaN
11,12,Resignation-Move overseas/interstate,2012,2009.0,2009.0,Teacher,Secondary,Far North Queensland,NaN,Permanent Full-time,...,False,False,False,Male,31-35,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808,810,Resignation-Other reasons,12/2013,2010.0,2010.0,Teacher Aide,NaN,NaN,NaN,Permanent Part-time,...,False,False,False,Female,26-30,NaN,NaN,NaN,NaN,NaN
815,817,Resignation-Other employer,01/2014,2012.0,2012.0,Teacher,Primary,Far North Queensland,NaN,Permanent Full-time,...,False,False,False,Male,21-25,NaN,NaN,NaN,NaN,NaN
816,818,Resignation-Move overseas/interstate,01/2014,2012.0,2012.0,Teacher,Secondary,North Coast,NaN,Permanent Full-time,...,False,False,False,Female,21-25,NaN,NaN,NaN,NaN,NaN
819,821,Resignation-Move overseas/interstate,01/2014,2009.0,2009.0,Public Servant,A01-A04,Central Office,Education Queensland,Permanent Full-time,...,True,False,False,Female,31-35,NaN,NaN,NaN,NaN,NaN
821,823,Resignation-Move overseas/interstate,12/2013,NaN,NaN,Teacher Aide,NaN,Metropolitan,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# na=False turns any NaN value flagged to be False
tafe_resignations = tafe_survey_updated[tafe_survey_updated['separationtype'].str.contains('Resignation', na=False)].copy()

tafe_resignations

,id,Institute,WorkArea,cease_date,separationtype,Contributing Factors. Career Move - Public Sector,Contributing Factors. Career Move - Private Sector,Contributing Factors. Career Move - Self-employment,Contributing Factors. Ill Health,Contributing Factors. Maternity/Family,...,Contributing Factors. Study,Contributing Factors. Travel,Contributing Factors. Other,Contributing Factors. NONE,gender,age,employment_status,position,institute_service,role_service
3,6.341399e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,-,-,-,-,...,-,Travel,-,-,NaN,NaN,NaN,NaN,NaN,NaN
4,6.341466e+17,Southern Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,Male,41 45,Permanent Full-time,Teacher (including LVT),3-4,3-4
5,6.341475e+17,Southern Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Female,56 or older,Contract/casual,Teacher (including LVT),7-10,7-10
6,6.341520e+17,Barrier Reef Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,Career Move - Private Sector,-,-,Maternity/Family,...,-,-,Other,-,Male,20 or younger,Temporary Full-time,Administration (AO),3-4,3-4
7,6.341537e+17,Southern Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Male,46 50,Permanent Full-time,Teacher (including LVT),3-4,3-4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
696,6.350660e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,Male,21 25,Temporary Full-time,Operational (OO),5-6,5-6
697,6.350668e+17,Barrier Reef Institute of TAFE,Delivery (teaching),2013.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,-,-,Male,51-55,Temporary Full-time,Teacher (including LVT),1-2,1-2
698,6.350677e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,Career Move - Public Sector,-,-,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
699,6.350704e+17,Tropical North Institute of TAFE,Delivery (teaching),2013.0,Resignation,-,-,-,-,-,...,-,-,Other,-,Female,51-55,Permanent Full-time,Teacher (including LVT),5-6,1-2
701,6.350730e+17,Tropical North Institute of TAFE,Non-Delivery (corporate),2013.0,Resignation,-,-,Career Move - Self-employment,-,-,...,-,Travel,-,-,Female,26 30,Contract/casual,Administration (AO),3-4,1-2

## 5) Verify The Data

Let's verify that the data doesn't contain any major inconsistencies (to the best of our knowledge). It may not always be possible to catch all of these errors, but by making sure the data seems reasonable to the best of our knowledge, we can stop ourselves from completing a data analysis project that winds up being useless because of bad data.

In this step, we'll focus on verifying that the years in the **cease_date** and **dete_start_date columns** make sense.

- Since the **cease_date** is the last year of the person's employment and the **dete_start_date** is the person's first year of employment, it wouldn't make sense to have years after the current date.

- Given that most people start working in their 20s, it's also unlikely that the **dete_start_date** was before the year 1940.

If we have many years higher than the current date or lower than 1940, we wouldn't want to continue with our analysis, because it could mean there's something very wrong with the data. If there are a small amount of values that are unrealistically high or low, we can remove them.

In [14]:
# Check the years in each dataframe for logical inconsistencies.


# review dete 'cease_date' values
# ignore rows with NaN values for now
dete_resignations['cease_date'].value_counts(dropna=False)

2012       126
2013        74
01/2014     22
12/2013     17
06/2013     14
NaN         11
09/2013     11
11/2013      9
07/2013      9
10/2013      6
08/2013      4
05/2013      2
05/2012      2
07/2012      1
09/2010      1
07/2006      1
2010         1
Name: cease_date, dtype: int64

In [15]:
# data-cleaning: extract the year to create new attribute
dete_resignations['cease_date_year'] = dete_resignations['cease_date'].str.extract(r'(20[0-9][0-9])')

# convert values to float to be standardise with tafe dataset
dete_resignations['cease_date_year'] = dete_resignations['cease_date_year'].astype(dtype='float')

In [16]:
# check transformation
print(dete_resignations['cease_date_year'].dtype)
dete_resignations['cease_date_year'].value_counts(dropna=False).sort_index()

float64

2006.0      1
2010.0      2
2012.0    129
2013.0    146
2014.0     22
NaN        11
Name: cease_date_year, dtype: int64

In [17]:
# review tafe 'cease_date' values
print(tafe_resignations['cease_date'].dtype)
tafe_resignations['cease_date'].value_counts(dropna=False).sort_index()

float64

2009.0      2
2010.0     68
2011.0    116
2012.0     94
2013.0     55
NaN         5
Name: cease_date, dtype: int64

In [18]:
# convert tafe 'cease_date' to be float, to be consistent with dete's 'cease_date'

tafe_resignations['cease_date_year'] = tafe_resignations['cease_date'].astype(dtype='float')
print(tafe_resignations['cease_date'].dtype)

float64

#### Findings (Verify The Data):

1) There aren't any major issues with the years.
2) The years in each dataframe don't span quite the same number of years. We'll assess on the need to drop any years not needed for the analysis.

## 6) Create A New Column

Now that we've verified the years in the **dete_resignations** dataframe, we'll use them to create a new column. Recall that our end goal is to answer the following question:

- Are employees who have only worked for the institutes for a short period of time resigning due to some kind of dissatisfaction? What about employees who have been at the job longer?

In the Human Resources field, the length of time an employee spent in a workplace is referred to as their years of service.

The **tafe_resignations** dataframe already contains a "service" column, which we renamed to **institute_service**. In order to analyze both surveys together, we'll have to create a corresponding **institute_service** column in **dete_resignations**.

In [19]:
# create new attribute column to calculate number of years of service; ie. feature engineering
dete_resignations['institute_service'] = dete_resignations['cease_date_year'] - dete_resignations['dete_start_date']

# review transformations
# ignore NaN values for now
dete_resignations['institute_service'].value_counts(dropna=False).sort_index()

0.0     20
1.0     22
2.0     14
3.0     20
4.0     16
5.0     23
6.0     17
7.0     13
8.0      8
9.0     14
10.0     6
11.0     4
12.0     6
13.0     8
14.0     6
15.0     7
16.0     5
17.0     6
18.0     5
19.0     3
20.0     7
21.0     3
22.0     6
23.0     4
24.0     4
25.0     2
26.0     2
27.0     1
28.0     2
29.0     1
30.0     2
31.0     1
32.0     3
33.0     1
34.0     1
35.0     1
36.0     2
38.0     1
39.0     3
41.0     1
42.0     1
49.0     1
NaN     38
Name: institute_service, dtype: int64

## 7) Identify Dissatisfied Employees

We had created a new **institute_service** column that we'll use to analyze survey respondents according to their length of employment. Next, we'll identify any employees who resigned because they were dissatisfied.

Below are the columns we'll use to categorize employees as "dissatisfied" from each dataframe, based on understanding of the qualitative factors.

**tafe_survey_updated**:
- Contributing Factors. Dissatisfaction
- Contributing Factors. Job Dissatisfaction

**dete_survey_updated**:
- job_dissatisfaction
- dissatisfaction_with_the_department
- physical_work_environment
- lack_of_recognition
- lack_of_job_security
- work_location
- employment_conditions
- work_life_balance
- workload

If the employee indicated any of the factors above caused them to resign, we'll mark them as **dissatisfied** in a new column.

After our changes, the new **dissatisfied** column would contain just the following values:

- **True**: indicates a person resigned because they were dissatisfied with the job
- **False**: indicates a person resigned because of a reason other than dissatisfaction with the job
- **NaN**: indicates the value is missing

In [20]:
# copy both datasets over to new copies for further data transformations
tafe_resignations_up = tafe_resignations.copy()
dete_resignations_up = dete_resignations.copy()

In [21]:
# working on tafe dataset


# review unique values of tate's columns that we are focusing on
print('Tate Dataset:')
print(tafe_resignations_up['Contributing Factors. Dissatisfaction'].value_counts(dropna=False))
print('')
print(tafe_resignations_up['Contributing Factors. Job Dissatisfaction'].value_counts(dropna=False))

Tate Dataset:
-                                         277
Contributing Factors. Dissatisfaction      55
NaN                                         8
Name: Contributing Factors. Dissatisfaction, dtype: int64

-                      270
Job Dissatisfaction     62
NaN                      8
Name: Contributing Factors. Job Dissatisfaction, dtype: int64

In [22]:
# Convert the values in both columns to True, False, or NaN values.


# Write a function that applies to a Dataframe elementwise.
def update_vals(element):
    if pd.isnull(element):
        return np.nan
    elif element == '-':
        return False
    else:
        return True

# initiate an empty dataframe and apply the custom function to the dataframe for workings purposes
df = pd.DataFrame()
df['one'] = tafe_resignations_up['Contributing Factors. Dissatisfaction']
df['two'] = tafe_resignations_up['Contributing Factors. Job Dissatisfaction']
df = df.applymap(update_vals)

# review transformation
print(df['one'].value_counts(dropna=False))
print(df['two'].value_counts(dropna=False))

False    277
True      55
NaN        8
Name: one, dtype: int64
False    270
True      62
NaN        8
Name: two, dtype: int64

In [23]:
# If any of the columns listed above contain a True value, we'll add a True value to a new column named dissatisfied.

# From df.any() documentation: skipna - Exclude NA/null values. If the entire row/column is NA and skipna is True, then the result will be False, as for an empty row/column. If skipna is False, then NA are treated as True, because these are not equal to zero.

# Interpretation: should use skipna=True, then those rows with mixed NaN and True will return as True. Rows with mixed NaN and only False should return False.

df['dissatisfied'] = df.any(axis=1, skipna=True)

In [24]:
# review transformation
print(df.any(axis=1, skipna=True).value_counts(dropna=False))
df

False    249
True      91
dtype: int64

       one    two  dissatisfied
3    False  False         False
4    False  False         False
5    False  False         False
6    False  False         False
7    False  False         False
..     ...    ...           ...
696  False  False         False
697  False  False         False
698  False  False         False
699  False  False         False
701  False  False         False

[340 rows x 3 columns]

In [25]:
# assign back to dataframe
tafe_resignations_up['Contributing Factors. Dissatisfaction'] = df['one']
tafe_resignations_up['Contributing Factors. Job Dissatisfaction'] = df['two']
tafe_resignations_up['dissatisfied'] = df['dissatisfied']

# review that correctly assigned
print(tafe_resignations_up['dissatisfied'].value_counts(dropna=False))
tafe_resignations_up['dissatisfied']

False    249
True      91
Name: dissatisfied, dtype: int64

3      False
4      False
5      False
6      False
7      False
       ...
696    False
697    False
698    False
699    False
701    False
Name: dissatisfied, Length: 340, dtype: bool

In [26]:
# perform similiar transformations to dete_resignations dataset
dete_resignations_up.columns

Index(['id', 'separationtype', 'cease_date', 'dete_start_date',
       'role_start_date', 'position', 'classification', 'region',
       'business_unit', 'employment_status', 'career_move_to_public_sector',
       'career_move_to_private_sector', 'interpersonal_conflicts',
       'job_dissatisfaction', 'dissatisfaction_with_the_department',
       'physical_work_environment', 'lack_of_recognition',
       'lack_of_job_security', 'work_location', 'employment_conditions',
       'maternity/family', 'relocation', 'study/travel', 'ill_health',
       'traumatic_incident', 'work_life_balance', 'workload',
       'none_of_the_above', 'gender', 'age', 'aboriginal', 'torres_strait',
       'south_sea', 'disability', 'nesb', 'cease_date_year',
       'institute_service'],
      dtype='object')

In [27]:
# initiate an empty dataframe and apply the custom function to the dataframe for workings purposes
df = pd.DataFrame()
df['one'] = dete_resignations_up['job_dissatisfaction']
df['two'] = dete_resignations_up['dissatisfaction_with_the_department']
df['three'] = dete_resignations_up['physical_work_environment']
df['four'] = dete_resignations_up['lack_of_recognition']
df['five'] = dete_resignations_up['lack_of_job_security']
df['six'] = dete_resignations_up['work_location']
df['seven'] = dete_resignations_up['employment_conditions']
df['eight'] = dete_resignations_up['work_life_balance']
df['nine'] = dete_resignations_up['workload']

# review value_count unique values
print(df['one'].value_counts())
print(df['two'].value_counts())
print(df['three'].value_counts())
print(df['four'].value_counts())
print(df['five'].value_counts())
print(df['six'].value_counts())
print(df['seven'].value_counts())
print(df['eight'].value_counts())
print(df['nine'].value_counts())

False    270
True      41
Name: one, dtype: int64
False    282
True      29
Name: two, dtype: int64
False    305
True       6
Name: three, dtype: int64
False    278
True      33
Name: four, dtype: int64
False    297
True      14
Name: five, dtype: int64
False    293
True      18
Name: six, dtype: int64
False    288
True      23
Name: seven, dtype: int64
False    243
True      68
Name: eight, dtype: int64
False    284
True      27
Name: nine, dtype: int64

In [28]:
# Since values are already True/False, apply .any() to create new column with boolean values to indicate if the employee left as they are disastified with the company from any one of the identified factors

df['dissatisfied'] = df.any(axis=1, skipna=True)

# assign back to dataframe
dete_resignations_up['job_dissatisfaction'] = df['one']
dete_resignations_up['dissatisfaction_with_the_department'] = df['two']
dete_resignations_up['physical_work_environment'] = df['three']
dete_resignations_up['lack_of_recognition'] = df['four']
dete_resignations_up['lack_of_job_security'] = df['five']
dete_resignations_up['work_location'] = df['six']
dete_resignations_up['employment_conditions'] = df['seven']
dete_resignations_up['work_life_balance'] = df['eight']
dete_resignations_up['workload'] = df['nine']
dete_resignations_up['dissatisfied'] = df['dissatisfied']

# review transformations
print(df['dissatisfied'].value_counts())
print(dete_resignations_up['dissatisfied'].value_counts())
df

False    162
True     149
Name: dissatisfied, dtype: int64
False    162
True     149
Name: dissatisfied, dtype: int64

,one,two,three,four,five,six,seven,eight,nine,dissatisfied
3,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,True,False,False,True
8,False,False,False,False,False,False,False,False,False,False
9,True,True,False,False,False,False,False,False,False,True
11,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
808,False,False,False,False,False,False,False,False,False,False
815,False,False,False,False,False,False,False,False,False,False
816,False,False,False,False,False,False,False,False,False,False
819,False,False,False,False,False,False,False,True,False,True
821,False,False,False,False,False,False,False,False,False,False

## 8) Combine The Data

To recap, we've accomplished the following:

- Renamed our columns
- Dropped any data not needed for our analysis
- Verified the quality of our data
- Created a new **institute_service** column
- Cleaned the **Contributing Factors** columns
- Created a new column indicating if an employee resigned because they were -dissatisfied in some way

Now, we're finally ready to combine our datasets! Our end goal is to aggregate the data according to the **institute_service** column, so when the data is combined  the data, the data would get into a form that's easy to aggregate.

In [29]:
# First, let's add a column to each dataframe that will allow us to easily distinguish between the two.
# Add a column named institute to dete_resignations_up. Each row should contain the value DETE.
# Add a column named institute to tafe_resignations_up. Each row should contain the value TAFE.

dete_resignations_up['institute'] = 'DETE'
tafe_resignations_up['institute'] = 'DETE'

# review transformations
print(dete_resignations_up['institute'].head(2))
print(tafe_resignations_up['institute'].head(2))

3    DETE
5    DETE
Name: institute, dtype: object
3    DETE
4    DETE
Name: institute, dtype: object

In [30]:
# review null/non-null values of dete before combining
print('Isnull:')
print(dete_resignations_up.isnull().sum())
print('')
print('Notna:')
print(dete_resignations_up.notna().sum())

Isnull:
id                                       0
separationtype                           0
cease_date                              11
dete_start_date                         28
role_start_date                         40
position                                 3
classification                         150
region                                  46
business_unit                          279
employment_status                        4
career_move_to_public_sector             0
career_move_to_private_sector            0
interpersonal_conflicts                  0
job_dissatisfaction                      0
dissatisfaction_with_the_department      0
physical_work_environment                0
lack_of_recognition                      0
lack_of_job_security                     0
work_location                            0
employment_conditions                    0
maternity/family                         0
relocation                               0
study/travel                             0
ill_health                               0
traumatic_incident                       0
work_life_balance                        0
workload                                 0
none_of_the_above                        0
gender                                   9
age                                      5
aboriginal                             304
torres_strait                          311
south_sea                              308
disability                             303
nesb                                   302
cease_date_year                         11
institute_service                       38
dissatisfied                             0
institute                                0
dtype: int64

Notna:
id                                     311
separationtype                         311
cease_date                             300
dete_start_date                        283
role_start_date                        271
position                               308
classification                         161
region                                 265
business_unit                           32
employment_status                      307
career_move_to_public_sector           311
career_move_to_private_sector          311
interpersonal_conflicts                311
job_dissatisfaction                    311
dissatisfaction_with_the_department    311
physical_work_environment              311
lack_of_recognition                    311
lack_of_job_security                   311
work_location                          311
employment_conditions                  311
maternity/family                       311
relocation                             311
study/travel                           311
ill_health                             311
traumatic_incident                     311
work_life_balance                      311
workload                               311
none_of_the_above                      311
gender                                 302
age                                    306
aboriginal                               7
torres_strait                            0
south_sea                                3
disability                               8
nesb                                     9
cease_date_year                        300
institute_service                      273
dissatisfied                           311
institute                              311
dtype: int64

In [31]:
# review null/non-null values of tafe before combining
print('Isnull:')
print(tafe_resignations_up.isnull().sum())
print('')
print('Notna:')
print(tafe_resignations_up.notna().sum())

Isnull:
id                                                      0
Institute                                               0
WorkArea                                                0
cease_date                                              5
separationtype                                          0
Contributing Factors. Career Move - Public Sector       8
Contributing Factors. Career Move - Private Sector      8
Contributing Factors. Career Move - Self-employment     8
Contributing Factors. Ill Health                        8
Contributing Factors. Maternity/Family                  8
Contributing Factors. Dissatisfaction                   8
Contributing Factors. Job Dissatisfaction               8
Contributing Factors. Interpersonal Conflict            8
Contributing Factors. Study                             8
Contributing Factors. Travel                            8
Contributing Factors. Other                             8
Contributing Factors. NONE                              8
gender                                                 50
age                                                    50
employment_status                                      50
position                                               50
institute_service                                      50
role_service                                           50
cease_date_year                                         5
dissatisfied                                            0
institute                                               0
dtype: int64

Notna:
id                                                     340
Institute                                              340
WorkArea                                               340
cease_date                                             335
separationtype                                         340
Contributing Factors. Career Move - Public Sector      332
Contributing Factors. Career Move - Private Sector     332
Contributing Factors. Career Move - Self-employment    332
Contributing Factors. Ill Health                       332
Contributing Factors. Maternity/Family                 332
Contributing Factors. Dissatisfaction                  332
Contributing Factors. Job Dissatisfaction              332
Contributing Factors. Interpersonal Conflict           332
Contributing Factors. Study                            332
Contributing Factors. Travel                           332
Contributing Factors. Other                            332
Contributing Factors. NONE                             332
gender                                                 290
age                                                    290
employment_status                                      290
position                                               290
institute_service                                      290
role_service                                           290
cease_date_year                                        335
dissatisfied                                           340
institute                                              340
dtype: int64

In [32]:
# combine the dataframes

# axis=0 concatnate along index
# ignore_index=True will ignore existing separate dataframe index, and reset the combined index
combined = pd.concat([dete_resignations_up, tafe_resignations_up], axis=0, ignore_index=True)

In [33]:
# review null/non-null values

print('Isnull:')
print(combined.isnull().sum())
print('')
print('Notna:')
print(combined.notnull().sum())

Isnull:
id                                                       0
separationtype                                           0
cease_date                                              16
dete_start_date                                        368
role_start_date                                        380
position                                                53
classification                                         490
region                                                 386
business_unit                                          619
employment_status                                       54
career_move_to_public_sector                           340
career_move_to_private_sector                          340
interpersonal_conflicts                                340
job_dissatisfaction                                    340
dissatisfaction_with_the_department                    340
physical_work_environment                              340
lack_of_recognition                                    340
lack_of_job_security                                   340
work_location                                          340
employment_conditions                                  340
maternity/family                                       340
relocation                                             340
study/travel                                           340
ill_health                                             340
traumatic_incident                                     340
work_life_balance                                      340
workload                                               340
none_of_the_above                                      340
gender                                                  59
age                                                     55
aboriginal                                             644
torres_strait                                          651
south_sea                                              648
disability                                             643
nesb                                                   642
cease_date_year                                         16
institute_service                                       88
dissatisfied                                             0
institute                                                0
Institute                                              311
WorkArea                                               311
Contributing Factors. Career Move - Public Sector      319
Contributing Factors. Career Move - Private Sector     319
Contributing Factors. Career Move - Self-employment    319
Contributing Factors. Ill Health                       319
Contributing Factors. Maternity/Family                 319
Contributing Factors. Dissatisfaction                  319
Contributing Factors. Job Dissatisfaction              319
Contributing Factors. Interpersonal Conflict           319
Contributing Factors. Study                            319
Contributing Factors. Travel                           319
Contributing Factors. Other                            319
Contributing Factors. NONE                             319
role_service                                           361
dtype: int64

Notna:
id                                                     651
separationtype                                         651
cease_date                                             635
dete_start_date                                        283
role_start_date                                        271
position                                               598
classification                                         161
region                                                 265
business_unit                                           32
employment_status                                      597
career_move_to_public_sector                           311
career_move_to_private_sector                          311
interpersonal_conflicts                                311
job_dissatisfaction                                    311
dissatisfaction_with_the_department                    311
physical_work_environment                              311
lack_of_recognition                                    311
lack_of_job_security                                   311
work_location                                          311
employment_conditions                                  311
maternity/family                                       311
relocation                                             311
study/travel                                           311
ill_health                                             311
traumatic_incident                                     311
work_life_balance                                      311
workload                                               311
none_of_the_above                                      311
gender                                                 592
age                                                    596
aboriginal                                               7
torres_strait                                            0
south_sea                                                3
disability                                               8
nesb                                                     9
cease_date_year                                        635
institute_service                                      563
dissatisfied                                           651
institute                                              651
Institute                                              340
WorkArea                                               340
Contributing Factors. Career Move - Public Sector      332
Contributing Factors. Career Move - Private Sector     332
Contributing Factors. Career Move - Self-employment    332
Contributing Factors. Ill Health                       332
Contributing Factors. Maternity/Family                 332
Contributing Factors. Dissatisfaction                  332
Contributing Factors. Job Dissatisfaction              332
Contributing Factors. Interpersonal Conflict           332
Contributing Factors. Study                            332
Contributing Factors. Travel                           332
Contributing Factors. Other                            332
Contributing Factors. NONE                             332
role_service                                           290
dtype: int64

In [38]:
# Combined dataset: as majority of the columns not required in our later analysis on the combined dataset since we are not conducting detailed analysis on each disatisfaction factor, which also have many null values - drop any columns with less than 500 non null values with dropna().

combined_updated = combined.dropna(axis=1, thresh=500)


# review remaining null/non-null values

print('Isnull:')
print(combined_updated.isnull().sum())
print('')
print('Notna:')
print(combined_updated.notnull().sum())

Isnull:
id                    0
separationtype        0
cease_date           16
position             53
employment_status    54
gender               59
age                  55
cease_date_year      16
institute_service    88
dissatisfied          0
institute             0
dtype: int64

Notna:
id                   651
separationtype       651
cease_date           635
position             598
employment_status    597
gender               592
age                  596
cease_date_year      635
institute_service    563
dissatisfied         651
institute            651
dtype: int64

## 9) Clean The Service Column