In [1]:
%%html
<style>
table {align:left;display:block}  # to align html tables to left
</style>

In [12]:
# import libraries
from IPython.display import Image  # for displaying images in markdown cells
import pandas as pd  # Dataframe manipulation
import numpy as np  # Arrays manipulation

# Dataquest - Probabilities: Fundamentals <br/> <br/> Project Title: Mobile App For Lottery Addiction

## 1) Introduction

#### Key skills applied in project:
- How to calculate theoretical and empirical probabilities
- How to use probability rules to solve probability problems
- How to use combinations and permutations

#### Background
Provided by: [Dataquest.io](https://www.dataquest.io/)

Many people start playing the lottery for fun, but for some this activity turns into a habit which eventually escalates into addiction. Like other compulsive gamblers, lottery addicts soon begin spending from their savings and loans, they start to accumulate debts, and eventually engage in desperate behaviors like theft.

A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning. The institute has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities.

For the first version of the app, they want us to focus on the [6/49 lottery](https://en.wikipedia.org/wiki/Lotto_6/49) and build functions that enable users to answer questions like:
- What is the probability of winning the big prize with a single ticket?
- What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
- What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?

The institute also wants us to consider historical data coming from the national 6/49 lottery game in Canada. [The data set](https://www.kaggle.com/datascienceai/lottery-dataset) has data for 3,665 drawings, dating from 1982 to 2018.

The scenario we're following throughout this project is fictional — the main purpose is to practice applying the concepts we learned in a setting that simulates a real-world scenario.

## 2) Core Functions

Throughout the project, we'll need to calculate repeatedly probabilities and combinations. As a consequence, we'll start by writing two functions that we'll use often:

A function that calculates factorials; and
A function that calculates combinations.
To calculate factorials, this is the formula we learned we need to use:

\begin{equation}
n! = n \times (n - 1) \times (n - 2) \times ... \times 2 \times 1
\end{equation}

In the 6/49 lottery, six numbers are drawn from a set of 49 numbers that range from 1 to 49. The drawing is done without replacement, which means once a number is drawn, it's not put back in the set.

To find the number of combinations when we're sampling without replacement and taking only k objects from a group of n objects, we can use the formula:

\begin{equation}
_nC_k = {n \choose k} =  \frac{n!}{k!(n-k)!}
\end{equation}

In [3]:
# Write a function named factorial() which takes as input a number n and computes the factorial of that number n.

# Write a function named combinations() which takes in two inputs (n and k) and outputs the number of combinations when we're taking only k objects from a group of n objects.

def factorial(n):
    x = 0
    for i in range(n, 1, -1):
        if x == 0:
            x = n * (i - 1)
        elif x > 0:
            x = x * (i - 1)
    return x

def combinations(n, k):
    numerator = factorial(n)
    denominator = factorial(k) * factorial(n - k)
    x = numerator / denominator
    return x

# test function
print(factorial(5))
print(combinations(6, 3))

120
20.0

## 3) One-ticket Probability

Provided by: [Dataquest.io](https://www.dataquest.io/)

We focus on writing a function that calculates the probability of winning the big prize.

In the 6/49 lottery, six numbers are drawn from a set of 49 numbers that range from 1 to 49. A player wins the big prize if the six numbers on their tickets match all the six numbers drawn. If a player has a ticket with the numbers {13, 22, 24, 27, 42, 44}, he only wins the big prize if the numbers drawn are {13, 22, 24, 27, 42, 44}. If only one number differs, he doesn't win.

For the first version of the app, we want players to be able to calculate the probability of winning the big prize with the various numbers they play on a single ticket (for each ticket a player chooses six numbers out of 49). So, we'll start by building a function that calculates the probability of winning the big prize for any given ticket.

We discussed with the engineering team of the medical institute, and they told us we need to be aware of the following details when we write the function:

- Inside the app, the user inputs six different numbers from 1 to 49.
- Under the hood, the six numbers will come as a Python list, which will serve as the single input to our function.
- The engineering team wants the function to print the probability value in a friendly way — in a way that people without any probability training are able to understand.

In [4]:
# Write a function named one_ticket_probability(), which takes in a list of six unique numbers and prints the probability of winning in a way that's easy to understand.

# Start by calculating the total number of possible outcomes — this is total number of combinations for a six-number lottery ticket. There are 49 possible numbers, and six numbers are sampled without replacement. Use the combinations() function.

# The user inputs just one combination, which means the number of successful outcomes is 1.

# Use the number of successful outcomes and the total number of possible outcomes to calculate the probability for one ticket.

# The function should print the probability in a way that's easy to understand. Egs.
# Print the probability as a percentage.
# Use the str.format() method to make the printed message more personalized with respect to what the user inputs.

# compute number of outcomes in a pair ranging from 1 to 49
# assuming sample without replacement and have to get 6 correct pairs to win
# probability of success = 1 successful outcome / number of possible outcomes
def one_ticket_probability(unique_list):
    p = 1 / combinations(49, 6)
    percentage = p * 100
    return percentage

# generate random unique list for testing function
import random
unique_list = random.sample(range(1, 50, 1), 6)

# test and print functions
template = 'Winning probability is {:.10f}%'
print(unique_list)
print(template.format(one_ticket_probability(unique_list)))

[13, 12, 14, 26, 6, 44]
Winning probability is 0.0000071511%

## 4) Historical Data Check for Canada Lottery

Provided by: [Dataquest.io](https://www.dataquest.io/)

For the first version of the app, users should also be able to compare their ticket against the historical lottery data in Canada and determine whether they would have ever won by now.

Now, we'll focus on exploring the historical data coming from the Canada 6/49 lottery. The data set can be downloaded from [Kaggle](https://www.kaggle.com/datascienceai/lottery-dataset) and it has the following structure:

The data set contains historical data for 3,665 drawings (each row shows data for a single drawing), dating from 1982 to 2018. For each drawing, we can find the six numbers drawn in the following six columns:

- **NUMBER DRAWN 1**
- **NUMBER DRAWN 2**
- **NUMBER DRAWN 3**
- **NUMBER DRAWN 4**
- **NUMBER DRAWN 5**
- **NUMBER DRAWN 6**

Let's now write some code to open this data set and get familiar with its structure.

In [5]:
# open csv file and familiarise with structure

df = pd.read_csv('649.csv')

df.columns

Index(['PRODUCT', 'DRAW NUMBER', 'SEQUENCE NUMBER', 'DRAW DATE',
       'NUMBER DRAWN 1', 'NUMBER DRAWN 2', 'NUMBER DRAWN 3', 'NUMBER DRAWN 4',
       'NUMBER DRAWN 5', 'NUMBER DRAWN 6', 'BONUS NUMBER'],
      dtype='object')

In [6]:
# first 3 rows
df.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [7]:
# last 3 rows
df.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [8]:
# number of rows and columns
df.shape

(3665, 11)

## 5) Function For Historical Data Check

We're going to write a function that will enable users to compare their ticket against the historical lottery data in Canada and determine whether they would have ever won by now.

The engineering team told us that we need to be aware of the following details:

- Inside the app, the user inputs six different numbers from 1 to 49.
- Under the hood, the six numbers will come as a Python list and serve as an input to our function.
- The engineering team wants us to write a function that prints:
  - the number of times the combination selected occurred in the Canada data set; and
  - the probability of winning the big prize in the next drawing with that combination.

In [100]:
# Extract all the winning six numbers from the historical data set as Python sets (set is a data type in Python).


# Function takes as input a row of the lottery dataframe and returns a set containing all the six winning numbers. For the first row, for instance, the function should return the set {3, 11, 12, 14, 41, 43} based on above inspection of df.head().
def extract_numbers(dataframe):
    input_list = set()  # initiate an empty set
    input_list.add(dataframe['NUMBER DRAWN 1'])  # add extracted value to set
    input_list.add(dataframe['NUMBER DRAWN 2'])
    input_list.add(dataframe['NUMBER DRAWN 3'])
    input_list.add(dataframe['NUMBER DRAWN 4'])
    input_list.add(dataframe['NUMBER DRAWN 5'])
    input_list.add(dataframe['NUMBER DRAWN 6'])
    return input_list

# test function
extract_numbers(df.iloc[0])

{3, 11, 12, 14, 41, 43}

In [72]:
# Use extract_numbers() in combination with the DataFrame.apply() method to extract all the winning numbers;
# Dataframe.apply() can apply function to each row or column of the dataframe.

winning_set = df.apply(lambda row: extract_numbers(row), axis=1)  # axis=1 applies function to each row of df

# check function
winning_set

0        {3, 41, 11, 12, 43, 14}
1        {33, 36, 37, 39, 8, 41}
2         {1, 6, 39, 23, 24, 27}
3         {3, 9, 10, 43, 13, 20}
4        {34, 5, 14, 47, 21, 31}
                  ...
3660    {38, 40, 41, 10, 15, 23}
3661    {36, 46, 47, 19, 25, 31}
3662     {32, 34, 6, 22, 24, 31}
3663     {2, 38, 15, 49, 21, 31}
3664    {35, 37, 14, 48, 24, 31}
Length: 3665, dtype: object

In [73]:
# check_historical_occurence() takes in two inputs: a Python list containing the user numbers and a pandas Series containing sets with the winning numbers (this is the Series extracted using the extract_numbers() function).
# Remember the purpose is to check occurrence of user's list of numbers against historical winning numbers

def check_historical_occurence(unique_list, winning_set):
    test_set = winning_set.copy()
    win_counter = 0
    for row in test_set:
        value_counter = 0
        for pair in unique_list:
            if pair in row:
                value_counter += 1
                row.remove(pair)  # remove pair from a row set works, as each pair is unique in each row set
        if value_counter == 6:  # 6 exact matches even after removing pair from set after each pair draw
            win_counter += 1  
    return win_counter


# test a sample winning python list using check_historical_occurence() function
check_historical_occurence([35, 37, 14, 48, 24, 31], winning_set)

winning_set

0        {3, 41, 11, 12, 43, 14}
1        {33, 36, 37, 39, 8, 41}
2         {1, 6, 39, 23, 24, 27}
3         {3, 9, 10, 43, 13, 20}
4        {34, 5, 14, 47, 21, 31}
                  ...
3660    {38, 40, 41, 10, 15, 23}
3661    {36, 46, 47, 19, 25, 31}
3662     {32, 34, 6, 22, 24, 31}
3663     {2, 38, 15, 49, 21, 31}
3664    {35, 37, 14, 48, 24, 31}
Length: 3665, dtype: object

In [105]:
def check_historical_occurence(unique_list, winning_set):
    win_counter = 0
    for row in winning_set:
        if set(unique_list).issubset(row):
            win_counter += 1  
    return win_counter


# test a sample winning python list using check_historical_occurence() function
check_historical_occurence([35, 37, 14, 48, 24, 31], winning_set)

winning_set

0        {3, 41, 11, 12, 43, 14}
1        {33, 36, 37, 39, 8, 41}
2         {1, 6, 39, 23, 24, 27}
3         {3, 9, 10, 43, 13, 20}
4        {34, 5, 14, 47, 21, 31}
                  ...
3660    {38, 40, 41, 10, 15, 23}
3661    {36, 46, 47, 19, 25, 31}
3662     {32, 34, 6, 22, 24, 31}
3663     {2, 38, 15, 49, 21, 31}
3664    {35, 37, 14, 48, 24, 31}
Length: 3665, dtype: object